@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);	

body {
  font-family: "Lato";
  background-color: #f0f0f0;
  margin: 0px auto;
  max-width: 1150px;
}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  transform : scaleX(-1);
}

#videoel {
  transform : scaleX(-1);
}

#container {
  position : relative;
  width : 370px;
}

#content {
  margin: 1% 5% 0% 5%;
  max-width: 950px;
}

header > h2 { 
  display: inline-block; 
}

p {
  margin: 0% 0% 1% 0%;
}

h2 {
  font-weight : 400;
  margin: 1.5% 1.5% 1.5% 0%;
}

h3 {
  margin: 0% 0% 1% 0%;
}

#settings {
  display: block;
}
